<p id="notice"><%= notice %></p>

<h1>Moments</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>File path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moments.each do |moment| %>
      <tr>
        <td><%= moment.link %></td>
        <td><%= moment.file_path %></td>
        <td><%= link_to 'Show', moment %></td>
        <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
        <td><%= link_to 'Destroy', moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moment', new_moment_path %>
