<p id="notice"><%= notice %></p>

<h1>Moments</h1>

<div class="flex max-w-md">
  <%= search_form_for @search do |f| %>

    <%= f.label :description, "なに" %>
    <%= f.search_field :description_cont %>

    <%= f.submit %>

    <%# 検索結果と検索フォームをクリアする %>
    <%= link_to "クリア", moments_path %>
  <% end %>
</div>

<div class="container max-w-md">
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link(@search, :link) %></th>
        <th><%= sort_link(@search, :file_path) %></th>
        <th><%= sort_link(@search, :description) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @moments.each do |moment| %>
        <tr>
          <td><%= link_to moment.link, moment.link %></td>
          <td><%= moment.file_path %></td>
          <td><%= linkify_urls(moment.description) %></td>
          <td><%= link_to 'Show', moment %></td>
          <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
          <td><%= link_to 'Destroy', moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Moment', new_moment_path %>
